.main{ margin:0}
.warp{ overflow:hidden}
.left_info{border-right: 1px solid silver;width: 250px;height: 700px;float: left;}
.metroui{padding: 20px;overflow: hidden;padding-bottom: 6px;}
.metro_icon{float: left;padding: 10px;background: url(../images/userbox_bg.png) repeat-x #E5E5E5;border: 1px solid silver;border-radius: 3px;-webkit-box-shadow: inset 1px 1px 1px 0 white;-moz-box-shadow: inset 1px 1px 1px 0 #fff;box-shadow: inset 1px 1px 1px 0 white;}
/*首页用户信息区*/
.left_top{background-color: #FAFAFA;padding: 10px;}
.left_top .info {float: left;padding: 10px;background:url(../images/userbox_bg.png) repeat-x #E5E5E5;border: 1px solid silver;border-radius: 3px;-webkit-box-shadow: inset 1px 1px 1px 0 white;-moz-box-shadow: inset 1px 1px 1px 0 #fff;box-shadow: inset 1px 1px 1px 0 white;
}
.left_top .avatar {border: 1px solid #AAA;}
.left_top  .info a {display: block;margin-top: 5px;padding: 5px;background: url(../images/usermesage_button.png) repeat-x #E2E2E2;border: 1px solid #B5B5B5;
border-radius: 3px;text-align: center;-webkit-box-shadow: inset 1px 1px 1px 0 white;
-moz-box-shadow: inset 1px 1px 1px 0 #fff;box-shadow: inset 1px 1px 1px 0 white;}
.left_top  .info a:hover{background: url(../images/usermesage_button_active.png) repeat-x #F7F7F7;}
.left_top .info a {font-size: 12px;color: #6F6F6F;text-decoration: none;text-shadow: 1px 1px 0 white;}
.left_top .info a:hover{color: #1F548C}
.left_top .links {border-top: 1px solid transparent;margin-top: 9px;list-style: none;
margin-left: 100px;padding-left: 0;}
.left_top .links li a{ cursor:pointer; text-decoration:none }
.left_top .links li a:hover{ color:#06c}
.left_top .links li {overflow: hidden;margin: 10px 0;padding: 0 0 10px 10px;background: url(../images/user-divider.png) no-repeat bottom left;color: #222;}
.left_top .links  .name{ font-weight:bold; font-size:14px; }

.role{font-size: 12px;line-height: 14px; text-align:left;padding:15px 10px  30px 10px}
.role p{ font-size:14px; font-weight:bold; padding-bottom:20px}
.role span {background: url(../images/role_dot.png) no-repeat scroll 4px center #FFFFFF;border: 1px solid #BBBBBB;border-radius: 3px 3px 3px 3px;display: inline-block;margin: 2px 0 0 2px; padding: 2px 2px 2px 12px;}
/* 左侧下部*/
.sidebar_content{ background:url(../images/left_seperator.png) right top no-repeat}
.sidebar_content { padding-top:28px;}
.sidebar_content .sidebar_nav{ padding: 10px;height:386px; background:url(../images/sidebar_content_bg.png) right top repeat-y}
.sidebar_content .sidebar_nav ul{
margin: 1px auto;margin-bottom: 20px;background: #F6F6F6;border: 1px solid #CDCDCD;border-radius: 5px;width: 170px;}
.sidebar_content .sidebar_nav ul a{display: block;height: 34px;line-height: 34px;
width: 100%; text-align:center; background: #F6F6F6; text-decoration:none; color:#222;border-bottom: 1px solid #CDCDCD;
-webkit-box-shadow: inset 1px 1px 1px 0 white;-moz-box-shadow: inset 1px 1px 1px 0 #fff;box-shadow: inset 1px 1px 1px 0 white;}
.sidebar_content .sidebar_nav ul a:hover{ color:#fff; background:url(../images/left_down_hover.png) repeat-x center center;text-shadow: 0 1px 0 black;box-shadow: none;}
.sidebar_content .sidebar_nav ul li:first-child a {border-radius: 5px 5px 0 0; font-size:16px; font-weight:bold; cursor:default}
.sidebar_content .sidebar_nav ul li:first-child a:hover{ background-image:none; color:#222; text-shadow:none}
.sidebar_content .sidebar_nav ul li:last-child a {border-radius: 0 0 5px 5px; border-bottom:none}

/*metroui 中间部分*/
.metroui h2{ font-size:26px;font-family:"微软雅黑"; background: url(../images/title-underline.png) repeat-x bottom;display:block; padding-bottom:5px;  font-size:24px  }
.metroui .main_box{margin: 0px 0 10px 0; border-top:1PX solid #EEE}
.metroui .main_box h3{ position:relative; width:100%; margin:0;font-size: 2em;text-indent: 40px; margin-left:-1PX; display:inherit; line-height:34px;color: white;text-shadow: 0 1px 0 black;border-radius: 3px 3px 0px 0px;background: url(../images/h2_bg.png) 0 0 repeat-x;text-align: left;font-size: 18px;border: 1px solid #2B5177;}
.metroui .main_box h3 span {no-repeat;width: 36px;height: 34px;position: absolute;top: 0px;left: 2px; background:url(../images/blue_span/h2span.png)}
.metroui  .main_box {position: relative;padding:0;text-align: left; float:left; margin-right:10px}
/*待办事项*/

.metro_accordion ul {max-height: 220px; overflow:hidden; position:relative}
.metro_accordion .metro_accordion_title {cursor: pointer;height: 30px;line-height: 30px;font-size: 14px;font-weight: bold;padding: 0 40px; border-bottom:1px solid #C8C8C8;}
.metro_accordion .metro_accordion_title:hover{ background:#DFDFDF  url(../images/metro_accordion_title_bg.png) no-repeat;}
.metro_accordion .collapsed .metro_accordion_title:hover{background:#DFDFDF  url(../images/metro_accordion_title_bg.png) no-repeat 0 -30px;}
.metro_accordion_title {background: url(../images/metro_accordion_title_bg.png) no-repeat;}
.metro_accordion li {line-height: 24px;padding-left: 40px;}
.metro_accordion .collapsed {height: 30px;}
.collapsed .metro_accordion_title {background:url(../images/metro_accordion_title_bg.png) no-repeat 0 -30px;}
.metro_accordion_title span {margin: 0 10px;padding: 0 3px;color: white;background-color: #C33;border-radius: 3px;}
.metro_accordion span {padding: 0 10px;}
/*公告通知*/
.metro_list {font-size: 14px;line-height: 25px; margin: 16px 14px 0;}
.icon_new { background: url(../images/icon/list_new.png) repeat scroll 0 0 transparent;display: inline-block;height: 12px; width: 23px;}
.metro_list span {float: right;}
.metro_more { position: absolute;right:5px;bottom: 5px;margin-bottom: 10px;text-align: right;}

.metro_tool{margin: 15px 25px 0 15px;}
/*.metro_tool input{ border-radius:3px; border: 1px solid #C8C8C8; padding:2px 5px}
此样式导致电话簿input 按钮失效*/
.metro_grid{padding:0 20px}
.metro_grid table {width:100%;}
.metro_grid th {padding: 3px; font-weight:bold}
.metro_grid td {padding: 3px;}
.metro_grid tfoot { text-align: right;}
.metro_grid td a{background-color: #EBEBEB;border-style: solid;border-width: 1px;border-color: white #B5B5B5 #B5B5B5 white;margin: 0;padding: 2px 10px;color: #373737;
text-shadow: 0 1px 0 white; text-decoration:none}

.metro_grid td a:hover{background-color: #2D5580;border-color: #123458;color: #FCFCFC;
text-shadow: 0 1px 0 black;}
/*快捷操作区*/
.shortcuts {list-style: none;margin: 10px ;padding: 0;}
.shortcuts li {height: 66px; width:147px; text-align:center; line-height:66px;display: inline-table;border-radius: 3px;border: 1px solid #C1C1C1;background: url(../images/quickicon/bg.png);margin-bottom: 10px;margin-right: 8px;overflow: hidden;}
.shortcuts li:hover{background:url(../images/quickicon/hbg.png)}
.shortcut-icon {float: left;height: 25px;padding: 20px 13px;border-right: 1px solid #C1C1C1;background: url(../images/quickicon/bg-icon.png);position: relative;}
.shortcut-icon .divider {position: absolute;right: 0;top: 0;right: 0;width: 17px;height: 66px;background: url(../images/quickicon/shadow-divider.png);}
.shortcuts .shortcut-description {  font-size:14px; font-weight:bold; color:#333; display:block}
.shortcuts .shortcut-description:hover {color: #164A7E;text-decoration: none;}

/*box_icon==================================================*/
.metroui .handle_box h3 span{ background: url(../images/blue_span/case_span.png)}
.metroui .notice_box h3 span{ background: url(../images/blue_span/post_span.png)}
.metroui .quick_box h3 span{ background:url(../images/blue_span/quick_span.png)}
.metroui .content_box h3 span{ background: url(../images/blue_span/content_span.png)  }

/*登录页面样式*/
/*login新样式*=========================2012。12。13.==========*/

.metro_login .top {height: 359px;width: 100%;position: absolute;background: url(../images/login/login_top_bg.png) repeat-x left top; z-index:99}
.metro_login .top .white {position: absolute;height: 1px;width: 787px;top: 357px;margin: 0 auto;left: 0;right: 0;background: url(../images/login/white-line.png) no-repeat center center;}
.metro_login .top .gradient {position: absolute;width: 100%;top: 360px;height: 470px; background: url(../images/login/login_gradient_bg.png) repeat-x}
.metro_login .top .biglogo{position: absolute;width: 100%;top: 30px;height: 150px; background: url(../images/login/login_logo.png)  17% top no-repeat;z-index: 88}
.metro_login .content{border-left: 1px solid #C8C8C8;border-right: 1px solid #C8C8C8;}
.metro_login .content h1 {color: white;font-size: 24px;text-align: center;text-shadow: 0 0 5px rgba(0, 0, 0, 1);}
.metro_login .content h1 {position: absolute;top:80px;left: 0;right: 0;margin: 0;z-index: 101;}
.metro_login .content .background {z-index: 99;position: absolute;top: 0;left: 0;right: 0;margin: 0 auto;width: 790px;height: 167px;background: url(../images/login/header.png) top center;}
.metro_login .login_size{ position: absolute;top: 250px;left: 0;right: 0;
margin: 0 auto;z-index: 101;}
.login_main{z-index: 110;margin: 0 auto;position: relative;}
.login_main .header {line-height: 34px;}
.login_main .grey {background: url(../images/login/bg-header.png) repeat-x;filter: none;border:1px solid #C8C8C8;}
.login_main .header img {display: inline-block;margin: 9px auto;margin-left: 8px;float: left;-moz-user-select: none;width: 16px;height: 16px;}
.login_main .header  h3 {color: #383838;  float: left;display: block;margin: 0;padding: 0;margin-left: 8px;padding-left: 10px;background: url(../images/login/divider-header.png) top left no-repeat!important;}
.login_main .header  a{float:right; margin:0 15px;}
.login_form .section {border-bottom: 1px solid #E7E7E7;border-top: 1px solid white;margin: 0;width: 100%;background: #F6F6F6;}

.login_form .section:last-child {border-bottom: 0;}

.login_form .section label{color: #666;font-size: 14px;font-weight: 700;
text-shadow: 0 1px 0 white;display: block;margin:23px 0 20px 20px;float: left;width: 15%;}
.login_form .section  .item_input{border-left: 1px solid #E7E7E7;float: right;width: 330px;padding: 0 35px;}
.login_form .section  .item_input input {width: 100%;height: 26px;line-height: 26px;text-indent: 5px;}
.login_form .section .item_input input{background: white;display: block;margin: 20px 0;border: 1px solid #870D0D;border-radius: 5px;outline: 0;-webkit-box-shadow: inset 0 2px 3px 0 rgba(18, 16, 11, 0.13);-moz-box-shadow: inset 0 2px 3px 0 rgba(18,16,11,0.13);box-shadow: inset 0 2px 3px 0 rgba(18, 16, 11, 0.13);}
.metro_login .ui-state-default { border:0; background:none}
.actions {border: 1px solid #C8C8C8;background: url(../images/login/bg-action.png) repeat-x #F7F7F7;border-radius: 0 0 3px 3px; height:36px;
}
.actions-left {float: left;margin: 5px;margin-left: 10px;}
.login_form input[type="checkbox"]{ height: 18px;float: left; display:none}
.checkbox {margin-right: 10px;width: auto;box-shadow: none;}
.checkbox-checked img {background: transparent url(../images/login/normal.png) no-repeat; }
.checkbox img {height: 18px;width: 18px;background: transparent url(../images/login/normal.png) no-repeat;margin-bottom: -5px;}
.checkbox .marked img {height: 18px;width: 18px;background: transparent url(../images/login/mark.png) no-repeat;margin-bottom: -5px;}
.actions-left span{color: #666;font-size: 12px;font-weight: 700;text-shadow: 0 1px 0 white;margin-bottom: 5px;}
.actions-right {float: right;margin: 5px;margin-right: 10px;}
.actions-right input{ font-size:13px;display: block;height: 28px;line-height: 28px;width: auto;
padding: 0 15px;border: 1px solid #C7C7C7;background: url(../images/login/button_normal_bg.png) repeat-x;border-radius: 5px; cursor:pointer}
.actions-right input:hover{border-color: #2462A0;background: url(../images/login/button_bg.png) repeat-x ; color:#fff;text-shadow: 0 1px 0 #000;}
.metro_login .shadow {width:450px;height: 18px;bottom: -10px;margin: 0 auto;margin-top: -7px;background: url(../images/login/box-shadow.png);z-index: 99;}
.metro_login .footer { position: absolute; z-index:99; bottom:100px; left:0; right:0}
.background_login{ position:absolute;  bottom:0; height:383px; display:block; width:100%; background:url(../images/login/login_big_bg.png) no-repeat  bottom right; z-index:222}
#txtLogin_txt,#txtPwd_txt{ width:300px; font-size:14px}