<div class="foot_content">
    <div class="">
        <span class="fr">Copyright © 2016 微想空间. 苏ICP备 </span>
        友情链接：
        <a href="https://www.baidu.com/" title="百度" target="_blank">百度</a>&nbsp;&nbsp;&nbsp;
        <a href="http://www.qq.com/" title="腾讯网" target="_blank">腾讯网</a>&nbsp;&nbsp;&nbsp;
    </div>
</div>
