@{
    ViewBag.Title = "案例展示";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
 <link href="@Url.Content("~/Content/component.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/case/modernizr.custom.js")" type="text/javascript"></script>
		<div class="container">
            <header class="clearfix">
            
                <div class="navbar navbar-default navbar-fixed-top  navbar-center">
                    <a href="#" class="current">全部</a>
                    <a href="#">品牌建站</a>
                    <a href="#">APP</a>
                </div>
                
            </header>


            <div class="clear h140" style=""></div>
			<ul class="grid cs-style-3">								
				<li>
					<figure>
						<a href="case05.html" target="_blank">
                        <img src="images/case/case05_2.jpg" alt="img05">
						<figcaption>
							<h3>佰澜国际珠宝城</h3>
							<span>品牌企业&nbsp;&nbsp;2014/12/01</span>
						</figcaption>
                        </a>
					</figure>
				</li>
                <li>
                                    <figure>
                                        <a href="case04.html" target="_blank">
                                        <img src="images/case/case04_2.jpg" alt="img04">
                                        <figcaption>
                                            <h3>八度品牌站</h3>
                                            <span>品牌企业&nbsp;&nbsp;2014/12/01</span>
                                        </figcaption>
                                        </a>
                                    </figure>
                                </li>
				<li>
					<figure>
						<a href="case03.html" target="_blank">
                        <img src="images/case/case03_2.jpg" alt="img03">
						<figcaption>
							<h3>周大福珠宝</h3>
							<span>品牌企业&nbsp;&nbsp;2014/12/01</span>
						</figcaption>
                        </a>
					</figure>
				</li>
				<li>
					<figure>
						<a href="case02.html" target="_blank">
                        <img src="images/case/case02_2.jpg" alt="img02">
						<figcaption>
							<h3>百雀羚</h3>
							<span>品牌企业&nbsp;&nbsp;2014/12/01</span>
						</figcaption>
                        </a>
					</figure>
				</li>
				<li>
					<figure>
						<a href="case01.html" target="_blank">
                        <img src="images/case/case01_2.jpg" alt="img01">
						<figcaption>
							<h3>江西潦河文化产业传播有限公司</h3>
							<span>品牌企业&nbsp;&nbsp;2014/12/01</span>
						</figcaption>
                        </a>
					</figure>
				</li>
                
			</ul>
		</div>
        <script src="@Url.Content("~/Scripts/case/toucheffects.js")" type="text/javascript"></script>

